

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #242c30;
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  border: 2px solid #00b050;
  background-color: #242c30;
}
header .logo {
  color: #00b050;
}
button {
  width: 200px;
  padding: 12px 10px;
  background-color: #00b050;
  color: white;
  border-radius: 26px;
  font-size: 25px;
  font-weight: bold;
  border: none;
}
button:hover {
  background-color: #02a54b;
  cursor: pointer;
}

.game {
  min-height: calc(100vh - 100px);
}
.main-menu {
  background-color: #242c30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(100vh - 104px);
  gap: 30px;
}
.main-game {
  display: none;
  height: 100%;
  -ms-grid-columns: 140px 1fr 140px;
  grid-template-columns: 140px 1fr 140px;
  -ms-grid-rows: 1fr 140px;
  grid-template-rows: 1fr 140px;
}
.main-game > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.main-game > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.main-game > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.main-game > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.main-game > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.main-game > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0;
  position: relative;
  background-color: #242c30;
}
.player .piece {
  margin: -20px 0;
}
.player h2 {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  color: white;
  font-size: 22px;
}

.player .pieces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  border-radius: 35px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  margin: 0 20px;
  min-height: 200px;
}
.player .info {
  color: white;
  font-size: 1.2em;
  text-align: center;
}
.player .avatar {
  width: 90px;
  height: 90px;
  justify-self: flex-start;
}
.player .avatar img {
  height: 100%;
  width: 100%;
}
/* piece style */
.piece {
  height: 84px;
  width: 36px;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: ease;
  -o-transition: ease;
  transition: ease;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: perspective(80px) rotateY(180deg);
          transform: perspective(80px) rotateY(180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}
.piece .front-face {
  height: 100%;
  width: 100%;
  position: absolute;
  border: 1px solid black;
  border-radius: 6px;
  background-color: white;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.piece .front-face .separator {
  display: block;
  width: 100%;
  height: 2%;
  background-color: black;
}
.piece .back-face {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #fff;
  border-radius: 6px;
  /* box-shadow: 8px 5px 0px 0px #c9b9b9; */
}
/* dot style */
.piece .front-face .dot {
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 3px;
  background-color: black;
}
.piece .front-face .dot :nth-child(6) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}
.piece .front-face .up.p1 .dot,
.piece .front-face .down.p1 .dot {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
.piece .front-face .up.p2 :nth-child(2),
.piece .front-face .down.p2 :nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}
.piece .front-face .up.p3 :nth-child(2),
.piece .front-face .down.p3 :nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
.piece .front-face .up.p3 :nth-child(3),
.piece .front-face .down.p3 :nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}
.piece .front-face .up.p4 :nth-child(2),
.piece .front-face .up.p5 :nth-child(2),
.piece .front-face .up.p6 :nth-child(2),
.piece .front-face .down.p4 :nth-child(2),
.piece .front-face .down.p5 :nth-child(2),
.piece .front-face .down.p6 :nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}
.piece .front-face .up.p4 :nth-child(3),
.piece .front-face .up.p5 :nth-child(3),
.piece .front-face .up.p6 :nth-child(3),
.piece .front-face .down.p4 :nth-child(3),
.piece .front-face .down.p5 :nth-child(3),
.piece .front-face .down.p6 :nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}
.piece .front-face .up.p4 :nth-child(4),
.piece .front-face .up.p5 :nth-child(4),
.piece .front-face .up.p6 :nth-child(4),
.piece .front-face .down.p4 :nth-child(4),
.piece .front-face .down.p5 :nth-child(4),
.piece .front-face .down.p6 :nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}
.piece .front-face .up.p5 :nth-child(5),
.piece .front-face .down.p5 :nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
.piece .front-face .up.p6 :nth-child(5),
.piece .front-face .down.p6 :nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}
.piece .front-face .up.p6 :nth-child(6),
.piece .front-face .down.p6 :nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}
.piece .front-face .up,
.piece .front-face .down {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6px 6px 6px 6px 6px;
  grid-template-columns: repeat(3, 6px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: 6px 6px 6px 6px 6px;
  grid-template-rows: repeat(3, 6px);
  -ms-flex-line-pack: center;
      align-content: center;
  height: 49%;
  gap: 6px;
}
.piece .front-face .up > *:nth-child(1), .piece .front-face .down > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.piece .front-face .up > *:nth-child(2), .piece .front-face .down > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.piece .front-face .up > *:nth-child(3), .piece .front-face .down > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.piece .front-face .up > *:nth-child(4), .piece .front-face .down > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.piece .front-face .up > *:nth-child(5), .piece .front-face .down > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.piece .front-face .up > *:nth-child(6), .piece .front-face .down > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.piece .front-face .up > *:nth-child(7), .piece .front-face .down > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.piece .front-face .up > *:nth-child(8), .piece .front-face .down > *:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.piece .front-face .up > *:nth-child(9), .piece .front-face .down > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

/* empty piece style */
.empty-piece {
  height: 84px;
  width: 36px;
  border-radius: 6px;
  border: 1px solid red;
  position: absolute;
  left: 454px;
  top: 50px;
  -webkit-transform: rotateZ(90deg);
      -ms-transform: rotate(90deg);
          transform: rotateZ(90deg);
}
/* board style */
.board {
  min-height: calc(100vh - 40px);
}
.selection-board {
  border-radius: 35px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
  background-color: #4c4a35;
}
.game-board {
  border-radius: 35px;
  display: none;
  background-color: #4c4a35;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.bottom-bar {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rest-pieces {
  background-color: #242c30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 35px;
  height: 120px;
  padding: 0 20px;
}
#game-over {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
#game-over h1 {
  color: #00b050;
}
#game-over button {
  width: auto;
  padding: 14px 25px;
}